/* loader */

.loader {
    width: 40px;
    aspect-ratio: 1;
    color: #8d6432;
    position: relative;
    background: radial-gradient(10px, currentColor 94%, #0000);
}

.loader:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(9px at bottom right, #0000 94%, currentColor)
            top left,
        radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
        radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
        radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    animation: l18 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l18 {
    33% {
        inset: -10px;
        transform: rotate(0deg);
    }
    66% {
        inset: -10px;
        transform: rotate(90deg);
    }
    100% {
        inset: 0;
        transform: rotate(90deg);
    }
}

/* bottom bar */

.bottom-bar {
    position: absolute;
    bottom: -19px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    /* text-align: center; */
    padding: 10px 0;
    font-size: 14px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

#demo {
    text-align: left;
    flex: 1;
}

#score {
    text-align: center;
    flex: 1;
}

#usename {
    text-align: right;
    flex: 1;
}

.notification-bar {
    position: fixed;
    top: -50px; /* Initially hidden above screen */
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: top 0.5s ease-in-out;
    z-index: 9999;
}



/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader-timer {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader-timer:before,
  .loader-timer:after {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    aspect-ratio: 1;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l5 1s infinite linear alternate;
  }
  .loader-timer:after {
    inset: auto 0 0 auto;
    animation-delay: -1s;
  }
  @keyframes l5 {
    0% {
      width: 20px;
    }
    100% {
      width: 50px;
    }
  }