* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.game-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.game-image {
    width: 100%;
    height: 571px;
    object-fit: fill;
}
.game-container-main {
    margin-left: -99%;
}
.showPaper {
    position: absolute;
    top: 73%;
    left: 14%;
    width: 5%;
    height: 10%;
    cursor: pointer;
}

.clue-area {
    position: absolute;
    width: 46px;
    height: 69px;
    cursor: pointer;
    background: transparent;
}

#clue1 {
    top: 7%;
    left: 78%;
}

.banana-canvas{
    height: 130px;
    /* translate: 100px 20px; */
    Rotate: -3deg;
    width: 223px;

}
#clue2 {
    top: 46%;
    left: 68%;
    position: absolute;
    width: 87px;
    height: 109px;
}

#clue4 {
    top: 46%;
    left: 24%;
    position: absolute;
    width: 89px;
    height: 30px;
    cursor: pointer;
}
#clue5{
    top: 55%;
    left: 8%;
    position: absolute;
    width: 158px;
    height: 85px;
}
.lap-screen input{
    width: 140px;
    height: 46px;
    background: black;
    text-align: center;
    color: white;
    font-weight: 600;
    
}
.lap-sol{
    height: 62px;
    width: 143px;
    rotate: 6%;
    rotate: 0deg;
    display: none;
}
.clue-book {
    width: 506px;
    height: 310px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}
.clue-popup {
    position: absolute;
    top: -28px;
    left: 69px;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    padding: 15px;
    display: none;
    z-index: 1000;
}
.clue-submit {
    display: flex;
    top: 97%;
    position: absolute;
    width: 300px;
    left: 0%;
    background-color: rgba(19, 110, 10, 0.1);
    align-items: center;
    justify-content: center;
}
.clue-popup input {
    width: 45px;
    height: 45px;
    margin: 0 14px;
    font-size: 24px;
    text-align: center;
    border: none;
    background: hsla(0, 0%, 100%, 1);
    /* color: #0ff; */
    outline: none;
    border-radius: 8px;
    /* padding: 6px; */
    box-shadow: inset 4px 4px 8px #fff9f9, inset -4px -4px 8px #7d6161;
    transition: all 0.3s ease-in-out;
}
.clue-submit-pass-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    z-index: 1000;
    top: -159px;
    left: -103px;
    background-image: url(/assets/img/rooms/room3/door_lock.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 215px;
    
}
.clue-submit-pass-box input {
    text-align: center;
    /* border-width: 6px; */
    font-size: 24px;
    text-align: center;
    margin-bottom: 31px;
    width: 100px;
    background: transparent;
    border: none;
}
.row-pass{
    justify-content: center;
    align-items: center;
    display: flex
;
    flex-wrap: wrap;

}
.row-pass .btn{
    width: 30px;
    height: 35px;
    margin: 5px 8px 5px 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    
}
.clue-area-wall {
    position: absolute;
    width: 236px;
    height: 107px;
    left: 77%;
    top: 74%;
}
#clue-3 .box-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    position: absolute;
    transform: translate(-397px, 8px);
    margin-left: 350px;
    background: #577086;
}

#clue-3 .box-group .box {
    width: 21px;
    height: 21px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    /* border-block-color: white; */
    margin-left: 35px;
    border: #9b9b6b;
    border-width: 100px;
    margin-right: 40px;
}
.row-color{
    display: flex;
    justify-items: center;
}
.row-color .box{
    display: flex
    ;
        align-items: center;
        justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 10px 10px,#fff 90deg,#0000 0);
    background: var(--g), var(--g), var(--g);
    background-size: 50% 50%;
    animation: l16 1s infinite;
  }
  @keyframes l16 {
     0%   {background-position:0    0   ,10px 10px,20px 20px} 
     50%  {background-position:0    20px,10px 10px,20px 0   } 
     100% {background-position:20px 20px,10px 10px,0    0   } 
  }

.color-answer{
    font-size: 2rem;
    font-weight: 800;
}

.unlock-btn {
    width: 48px;
    font-size: 11px;
    font-weight: bold;
    background: linear-gradient(145deg, #921919, #bd2255);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}